.single-card {
  max-width: 360px;
  height: 30vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 320px;
}
.single-card-image {
  width: 100%;
  flex: 5.5;
  border-radius: 0.5rem;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.single-card-title {
  width: 100%;
  flex: 1.5;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.8rem;
}
.view-toggler {
  border: 1px solid rgba(255, 255, 255, 0.447);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.view-toggler > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
}
.view-toggler > div:hover {
  cursor: pointer;
}
.single-card-image:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .single-card-title {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem !important;
  }
  .view-toggler {
    gap: 0.2rem;
  }
}
